# Ignore node_modules and build directories for the frontend
/frontend/node_modules
/frontend/build

# Ignore virtual environment and database for the backend
/backend/venv
/backend/db.sqlite3

# Ignore Python-specific files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore secret key file for Django
/backend/secret_key.txt

# Ignore compiled Python files
*.pyc

# Ignore debugging log files
*.log

# Ignore local development settings for Django
/backend/local_settings.py

# Ignore environment files
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/backend/.env
/backend/.env.local
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local

# Ignore editor-specific files and directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.timetracker

